/* Formularios de Login y Registro */
.form-container {
  background-color: #1a1a1a;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
}

.form-container h2 {
  color: #bb86fc;
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bb86fc;
  border-radius: 4px;
  background-color: #121212;
  color: #e0e0e0;
}

.form-container button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #cf6679;
  color: #ffffff;
}
