.book-form {
    background-color: #29293d;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
  }
  
  .book-form input, .book-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .book-form button {
    background-color: #32cd32;
    color: #ffffff;
    cursor: pointer;
  }
  
  .book-form button:hover {
    background-color: #28a745;
  }
  