/* Contenedor del formulario */
.form-container {
  background-color: #1b2535;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
}

.form-container h2 {
  color: #3399ff;
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #3399ff;
  border-radius: 4px;
  background-color: #121826;
  color: #e0e0e0;
}

.form-container button {
  background-color: #3399ff;
  color: #121826;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #1a73e8;
  color: #ffffff;
}

/* Estilo del enlace de registro */
.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9em;
}

.register-link a {
  color: #3399ff;
  text-decoration: none;
}

.register-link a:hover {
  color: #1a73e8;
}
.login-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.85em;
  color:#8c9cb8;
}

.login-link a {
  color:#8c9cb8;

}

.login-link a:hover {
  color:#3399ff;
  
}

/* Estilo del enlace de admin más discreto y centrado */
.admin-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.85em;
  color: #8c9cb8;
}

.admin-link a {
  color: #8c9cb8;
  text-decoration: none;
}

.admin-link a:hover {
  color: #3399ff;
}
